#navbarNav {
    ul {
        li {
            transition: .4s;

            &:hover a {
                color: #adb5bd !important;
            }
        }
    }
}


main {
    & table {
        & td {
            font-size: .86rem;

            .button {
                font-size: .7rem;
            }
        }
    }

    & input {
        &::placeholder{
            color: #adb5bd;
            font-weight: 500;
        }
    }

    & .textarea-color{
        textarea{
            color: #adb5bd;
            font-weight: 500;
        }
    }

    .restituzione{
        background-color: #f79ba3;
    }

}