#navbarNav{
    ul{
        li{
            transition: .4s;
            &:hover a{
                color: #adb5bd !important;
            }
        }
    }
}


main {
    & table {
        & td {
            font-size: .86rem;

            .button {
                font-size: .7rem;
            }
        }
    }
}